<!-- <p>adminhome works!</p> -->
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle"  class="nav-link" data-toggle="dropdown" href="#">AllCategory</a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/veg">Veg</a></li>
                  <li><a href="/nonveg">Non-Veg</a></li>
                </ul>
            </li>
            <!-- <li>
                <a  routerLink="/todos" class="nav-link">All Orders</a>
            </li> -->
            <li>
                <a  routerLink="/showdata" class="nav-link">All Customers</a>
            </li>
            <li>
                <a  routerLink="/contactdata" class="nav-link">Contact Us Reports</a>
            </li>
            <li>
                <a  routerLink="/feedbackdata" class="nav-link">Feedback Reports</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                <a  routerLink="/" class="nav-link">Logout</a>
            </li>
        </ul>   
    </nav>
</header>
<html>
    <head></head>
<body>
    <img src="https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?cs=srgb&dl=pexels-ella-olsson-1640773.jpg&fm=jpg">
</body>
</html>