
<h1 class="text-center">Online Food Order</h1>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <!-- <div>
            <a href="https://www.edubridgeindia.com/login.com">Edubridge Learning</a>
        </div> -->
        <br>
        <ul class="navbar-nav">
            <li>
                <a routerLink="/" class="nav-link">Home</a>
            </li>
          
            <li class="dropdown"><a class="dropdown-toggle"  class="nav-link" data-toggle="dropdown" href="#">AllCategory</a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/vegCh">Veg</a></li>
                  <li><a href="nonvegCh">Non-Veg</a></li>
                </ul>
            </li>

          <li>
                <a routerLink="/myCart" class="nav-link">MyCart</a>
          </li>

        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                <a routerLink="/contact" class="nav-link">Contact</a>
            </li>
            <li>
                <a routerLink="/feedback" class="nav-link">Feedback</a>
            </li>
            <li>
                <a routerLink="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- <div routerLink="/home">
    </div> -->
    
</header>

<html>
    <head></head>
<body>
    <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?cs=srgb&dl=pexels-ella-olsson-1640777.jpg&fm=jpg">
</body>
</html>

