

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Food Order App - Home</title>
</head>
<body>
  
  <section class="hero bg-primary text-white text-center py-5">
    <h1 class="display-4">Delicious Food Delivered to Your Doorstep</h1>
    <p class="lead">Order your favorite meals online and enjoy hassle-free delivery</p>

  </section>
  
  
  <section class="featured py-5">
    <div class="container">
      <h2 class="text-center mb-4">Non-veg Dishes</h2>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src=" https://i.ndtvimg.com/i/2015-12/grilled-chicken-625_625x350_71451368942.jpg" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title"> Grilled Chicken Escalope with Fresh Salsa</h5>
              <p class="card-text">500 </p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src=" https://i.ndtvimg.com/i/2015-02/pork_625x350_81424765044.jpg" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title"> Pina Colada Pork Ribs</h5>
              <p class="card-text">400</p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://i.ndtvimg.com/i/2016-11/biryani-620_620x350_41478678907.jpg" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title"> Malabar Fish Biryani</h5>
              <p class="card-text">600</p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="featured py-5">
    <div class="container">
      <h2 class="text-center mb-4">Veg Dishes</h2>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://i.ndtvimg.com/i/2018-01/butter-chicken_620x350_51517373579.jpg" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title">Butter Chicken</h5>
              <p class="card-text">450</p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://i.ndtvimg.com/i/2018-01/fried-chicken_696x400_51514877919.jpg" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title">Hyderabadi Chicken Fry</h5>
              <p class="card-text">450</p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://www.crazymasalafood.com/wp-content/images/Mutton-Curry.png" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title"> Mutton Curry</h5>
              <p class="card-text">650</p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  
  <section class="featured py-5">
    <div class="container">
     
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://www.crazymasalafood.com/wp-content/images/Chicken-Chettinad.png" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title">Chicken Chettinad</h5>
              <p class="card-text">650 </p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://www.awesomecuisine.com/wp-content/uploads/2008/02/idli_sambar.jpg" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title">Idali Sambar</h5>
              <p class="card-text">250</p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="https://i.ndtvimg.com/i/2015-10/matar-paneer_625x350_51443676633.jpg" class="card-img-top" alt="Featured Dish">
            <div class="card-body">
              <h5 class="card-title"> Gobhi Aloo</h5>
              <p class="card-text">250</p>
              <a href="/login" class="btn btn-primary">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>