
<div class="container">
    <button  (click)="addProduct()" class="btn btn-success">Add Product</button><br>
<table class="table">
   
    <thead>
        <tr>
        
        <th>Item Name</th>
        <th>Cost</th>
        <th>quantity</th>
        <th>Image</th>
        <th>Update Item</th>
        <th>Delete Item</th>
       
        </tr>  
    </thead>
    <tbody>
        <tr *ngFor="let item1 of items">
           
            <td>{{item1.itemName}}</td>
            <td>{{item1.cost}}</td>
            <td>{{item1.quantity}}</td>
            <td><img [attr.src]=item1.image  style="height: 100px; width: 100px" /></td>
           
            <td><button (click)="updateitem(item1.itemId)" class="btn btn-success">Update</button>
                <td><button (click)="deleteitem(item1.itemId)" class="btn btn-warning">Delete</button>
            
        </tr>

    </tbody>
</table>
</div>
<br>
<br>
<!-- <button (click)="addToDo()" class="btn btn-success">AddRecord</button> -->
